@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background: blueviolet;
    display: grid;font-kerning: inherit;
    grid-gap: 6px;
    grid-template-areas: 
    "pillar1 pillar1 pillar2" 
    "pillar3 pillar4 pillar2" 
    "pillar5 pillar6 pillar6";
}

.main > div {
    background: red;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: white;
    text-shadow:  2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.d1{
    grid-area: pillar1;
}
.d2{
    grid-area: pillar2;
}
.d3{
    grid-area: pillar3;
}
.d4{
    grid-area: pillar4;
}
.d5{
    grid-area: pillar5;
}
.d6{
    grid-area: pillar6;
}

